@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Unbounded;
color: #03030A;
scroll-behavior: smooth;
list-style: none;
}

.container {
max-width: 1760px;
padding: 0 20px;
margin: 0 auto;
}

.wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

a {
text-decoration: none;
}

/* ШАПКА */

.header {
background-color: #03030A;
}

.logo {
padding-top: 30px;
padding-bottom: 30px;
}

.nav {
display: flex;
flex-direction: column;
gap: 50px;
z-index: 9999999999;
overflow: visible;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
    z-index: 9999999999;
}

.dropdown {
    position: relative;
}

.dropbtn {
    color: #F3F3F3;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.dropbtn:hover {
color: #C7B475;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03030A;
    list-style: none;
    padding: 10px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content,
.dropdown-content.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-content a {
    color: #F3F3F3;
    text-decoration: none;
    display: block;
    transition: .3s;
    padding: 5px 10px;
}

.dropdown-content a:hover {
    background-color: #101010;
    color: #C7B475;
}

.show {
    display: block;
}

.search-bar {
width: 450px;
}

.search-bar input{
width: 450px;
border: #C7B475 3px solid;
border-radius: 5px;
background: #F3F3F3;
font-size: 16px;
position: absolute;
outline: none;
padding:  5px 10px;
}

.search-bar button {
position: relative;
max-width: 20px;
outline: none;
border: none;
background: none;
left: 420px;
top: 7px;
}

.search-bar input::placeholder {
color: #A4A4A4;
font-size: 16px;
}

.reg-group {
display: flex;
gap: 20px;
padding-bottom: 25px;
}

.reg-group a{
background: #255727;
padding: 5px 15px;
border-radius: 10px;
display: block;
color: #F3F3F3;
}

.reg-group .chit {
width: 137px;
text-align: center;
color: #F3F3F3;
}

.reg-group .user {
width: 70px;
}

.contacts {
display: flex;
flex-direction: column;
gap: 10px;
}

.contacts a {
color: #F3F3F3;
display: flex;
gap: 5px;
align-items: center;
}

/* РЕГИСТРАЦИЯ/АВТОРИЗАЦИЯ */

.reg_auth_title {
text-align: center;
font-size: 24px;
padding: 50px 0;
}

form {
display: flex;
flex-direction: column;
margin: 0 auto;
max-width: 455px;
gap: 10px;
}

label {
display: none;
}

form input, form textarea, form select {
border: 3px solid #C7B475;
background: #f3f3f3;
outline: none;
border-radius: 5px;
padding: 5px 10px;
width: 450px;
}

form input::placeholder {
color: #A4A4A4;
}

.reg_btn {
align-self: center;
padding: 15px 5px;
max-width: 220px;
border: none;
border-radius: 5px;
background: #255727;
color: #F3F3F3;
font-size: 16px;
}

.checkbox {
display: flex;
gap: 10px;
width: inherit;
}

.checkbox input {
width: 15px;
}

.terms {
display: block;
font-size: 12px;
}

.have_acc {
font-size: 12px;
}

.reg_to_auth {
color: #C7B475;
}

.page_title {
padding-top: 25px;
}

/* ГЛАЗИК */

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: 99999;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666; /* Цвет иконки */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

/* Эффект при наведении на кнопку */
.toggle-password:hover {
    color: #007bff; /* Изменение цвета иконки при наведении */
}

/* Эффект при нажатии на кнопку */
.toggle-password:active {
    transform: scale(0.9); /* Легкое уменьшение кнопки при нажатии */
}

.is-valid {
        border-color: #28a745 !important; /* Зеленая рамка для валидных полей */
    }

    .is-invalid {
        border-color: #dc3545 !important; /* Красная рамка для невалидных полей */
    }

    .invalid-feedback {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }

    .is-invalid + .invalid-feedback {
        display: block;
    }

.desc_title{
color: #255727;
font-size: 36px;
text-align: center;
margin-top: 75px;
}

.bn_desc {
margin: 0 auto;
margin-top: 25px;
text-align: justify;
width: 1020px;
font-size: 18px;
font-weight: 500;
}

/* СЛАЙДЕРЫ */

.mySwiper1 {
margin-top: 50px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.swiper-slide, .book_cards {
display: flex;
justify-content: center;
align-items: center;
}

.events_head {
margin-top: 100px;
display: flex;
align-items: center;
justify-content: space-between;
}

.events_title, .pages_title {
font-size: 36px;
}

.events_link, .django_link {
color: #B69F56;
font-size: 18px;
font-weight: 500;
}

.arrows {
margin-top: 50px;
display: flex;
justify-content: space-between;
z-index: 99999999;
}

.mySwiper2, .mySwiper3 {
margin-top: 20px;
}

.events .swiper-slide, .books .swiper-slide, .book_card {
border: 2px #C7B475 solid;
border-radius: 5px;
height: 470px;
width: 320px;
}

.swiper-button-prev, .swiper-button-next {
width: 30px;
height: 30px;
margin-top: -260px;
}

.mySwiper2 .swiper-slide, .book_card {
    position: relative;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
}

.mySwiper2 .swiper-slide::before, .book_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mySwiper2 .swiper-slide:hover::before, .book_card:hover::before {
    opacity: 1;
}

.book-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mySwiper2 .swiper-slide:hover .book-info, .book_card:hover .book-info {
    opacity: 1;
}

.event_card {
text-align: center;
display: flex;
flex-direction: column;
gap: 15px;
}

.book_title_link, .book_author_link {
color: #f3f3f3;
}

.book_title_link, .event_title {
font-size: 18px;
font-weight: 500;
}

.events {
margin-bottom: 100px;
}

/* ПРОФИЛЬ */

.name {
font-size: 36px;
font-weight: 700;
padding-top: 50px;
padding-bottom: 15px;
}

.logout_btn {
display: flex;
max-width: 85px;
margin-top: 10px;
}

.logout_btn, .return_btn {
color: #F3F3F3;
background: #dc3545;
padding: 5px 10px;
border-radius: 5px;
}

.form_title {
text-align: center;
margin-bottom: 20px;
}

.reserved_books {
font-size: 28px;
}

.reserved_book {
font-size: 20px;
margin-top: 10px;
list-style: none;
margin-bottom: 15px;
}

.your_books {
margin-bottom: 15px;
}

.no_books {
margin-bottom: 20px;
}

.return_btn {
    background-color: #d9534f;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.return_btn:hover, .logout_btn:hover {
    background-color: #c9302c;
}

.reg_events_list {
list-style: none;
}

/* СТРАНИЦЫ ПРОСТРАНСТВ */

.pages_title {
margin-bottom: 20px;
}

.pages_first_line {
margin-top: 50px;
}

.pages_first_line, .pages_second_line, .pages_img_big {
margin-bottom: 30px;
}

.pages_first_line, .pages_second_line {
display: flex;
gap: 30px;
}

.pages_par1, .pages_par2 {
max-width: 1020px;
}

.pages_par1, .pages_par2, .pages_par3, .pages_par4, .pages_par5 {
margin-bottom: 20px;
}

.history {
margin-bottom: 100px;
}

.pages_list li {
list-style-type: "- ";
}

.books_title {
margin-top: 50px;
}

.book_cards {
gap: 30px;
margin-top: 50px;
}

/* Стили для сообщений */
.messages {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

/* Стили для разных типов сообщений */
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.event_detail_title {
font-size: 36px;
margin-top: 50px;
}

.event_type {
font-size: 20px;
margin: 10px 0;
}

.event_date, .event_location {
margin-bottom: 10px;
}

.book_pages {
margin-top: 5px;
margin-bottom: 15px;
}

.book_img {
max-width: 320px;
height: 470px;
}

.book_page {
display: flex;
gap: 30px;
}

.reserve_btn {
background: #B69F56;
color: #f3f3f3;
padding: 5px 10px;
border-radius: 5px;
}

.cansel_btn, .reg_event_btn {
max-width: 270px;
outline: none;
border: none;
padding: 10px 15px;
border-radius: 5px;
color: #f3f3f3;
}

.reg_event_btn {
background: #255727;
}

.cansel_btn {
background-color: #d9534f;
}

.search_link {
font-weight: 500;
font-size: 18px;
}

.books_subtitle {
margin-top: 20px;
}

.sign_title {
font-size: 36px;
margin-top: 50px;
margin-bottom: 20px;
}

.sign_text {
max-width: 670px;
margin-bottom: 50px;
}

.sign_adress, .sign_phone, .sign_graf {
display: flex;
gap: 20px;
align-items: center;
margin-bottom: 20px;
}

.sign_adress_title, .sign_phone_title, .sign_graf_title, .sign_docs_title {
font-size: 18px;
}

.sign_docs_title {
margin-bottom: 10px;
}

.schedule_title {
text-align: center;
margin-top: 50px;
font-size: 36px;
}

.dows {
margin-top:50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.dow {
display: flex;
gap: 30px;
font-weight: bold;
font-size: 24px;
margin-bottom: 25px;
width: 252px;
}

.playbill_link {
font-size: 18px;
font-weight: 500;
color: #C7B475;
}