{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p class="name">{{ user.name }} {{ user.surname }}</p>
    <h2 class="reserved_books">Ваши книги</h2>
    {% if reserved_books %}
        <ul class="reserved_books_list">
            {% for reservation in reserved_books %}
                <li class="reserved_book">
                    <strong>{{ reservation.book.title }}</strong> by {{ reservation.book.author }}
                    <small>(забронирована: {{ reservation.borrowed_date|date:"d M Y" }})</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no_books">У вас нет книг.</p>
    {% endif %}

    <a class="logout_btn" href="{% url 'logout' %}">Выйти</a>
</div>

{% if user.is_superuser %}
<div class="container">
    <h1 class="page_title">Админ панель</h1>
    <a class="django_link" href="/admin">Перейти на админ-панель Django</a>

    <h2 class="form_title">Добавить книгу</h2>
    <form method="post" action="{% url 'add_book' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="reg_btn" type="submit">Добавить книгу</button>
    </form>

    <h2 class="form_title">Добавить мероприятие</h2>
    <form method="post" action="{% url 'add_event' %}">
        {% csrf_token %}
        {{ event_form.as_p }}
        <button class="reg_btn" type="submit">Добавить мероприятие</button>
    </form>
</div>
{% endif %}
{% endblock %}
