{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="book_page container">
    {% if book.image_book %}
        <img class="book_img" src="{{ book.image_book.url }}" alt="{{ book.title }}">
    {% else %}
        <img src="{% static 'images/default_book.png' %}" alt="Нет изображения">
    {% endif %}
    <div class="book_info">
        <h1 class="books_title">{{ book.title }}</h1>
    <p>Автор: {{ book.author }}</p>
    <p>{{ book.description }}</p>
    <p class="book_pages">Количество страниц: {{ book.pages }}</p>
    <!-- Кнопка бронирования книги -->
    <a href="{% url 'reserve_book' book.pk %}" class="reserve_btn">Забронировать книгу</a>
    </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            let messages = document.querySelectorAll(".messages li");
            messages.forEach(msg => msg.style.display = "none");
        }, 1500);
    });
</script>

{% endblock %}
