{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="pages_first_line">
        <div class="pages_text">
            <h1 class="pages_title">Тайм-кафе</h1>
            <p class="pages_par1">Это «третье место», которое способствует творческому взаимодействию людей. Это территория, где человек чувствует себя комфортно и проводит время в теплой душевной атмосфере. Здесь можно почитать интересную книгу, узнать что-то новое, развлечься и отдохнуть, посетив различные мероприятия, или просто скоротать свободное время, ожидая детей с кружковых занятий. В чайной зоне гости смогут самостоятельно приготовить себе чай, кофе, взять сладости и печенье. Все угощения и мероприятия бесплатные, оплачивается только время пребывания.
Наличие Игровой зоны и Интернета позволит родителям с детьми использовать тайм-кафе как коворкинг, где ребенок найдет себе увлекательное занятие и будет под присмотром.
Современное техническое оснащение позволяет организовывать яркие презентации, проводить интересные обсуждения, удивляя участников новыми форматами взаимодействия. Компьютеры и проектор помогают визуализировать информацию, а музыкальные колонки создают необходимую атмосферу, дополняя каждое событие музыкальными переливами. Зона «Тайм-кафе» - это уникальный синтез культуры и технологий, где старые традиции встречаются с новыми подходами, создавая креативный коллаж, который, без сомнений, станет толчком для будущих свершений.</p>
            <p class="pages_par2">Зона «Тайм-кафе» оборудована удобной мебелью, Wi-Fi и всеми необходимыми ресурсами, что делает ее идеальными для фрилансеров, стартаперов и студентов. В то же время такое пространство становится местом для общения и обмена идеями, способствуя созданию сообществ. Коворкинг позволяет избегать рутины, предоставляя возможность работать в динамичной обстановке, где царит дух сотрудничества и инноваций.</p>
            <p class="pages_par3">Ключевые мероприятия и формы деятельности этой локации:</p>
            <ul class="pages_list">
                <li>буккроссинг,</li>
                <li>коворкинг,</li>
                <li>настольные игры,</li>
                <li>мастер-классы.</li>
            </ul>
        </div>
        <img src="{% static 'pages_img/cafe/cafe1.png' %}" alt="">
    </div>
    <img class="img_big" src="{% static 'pages_img/cafe/cafe2.png' %}" alt="">
</div>


{% endblock %}