{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="event_detail_title">{{ event.title }}</h1>
    <p class="event_type">Тип мероприятия: {{ event.get_event_type_display }}</p>
    <p class="event_date">Дата и время начала: {{ event.start_date|date:"d M Y H:i" }}</p>
    <p class="event_location">Место проведения: {{ event.location }}</p>
    {% if event.description %}
        <div class="event_description">
            <p>{{ event.description }}</p>
        </div>
    {% endif %}
        {% if user.is_authenticated %}
        {% if user in event.participants.all %}
            <form method="post" action="{% url 'cancel_event_registration' pk=event.pk %}">
                {% csrf_token %}
                <button type="submit" class="cansel_btn">Отменить запись</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'register_for_event' pk=event.pk %}">
                {% csrf_token %}
                <button type="submit" class="reg_event_btn">Записаться на мероприятие</button>
            </form>
        {% endif %}
    {% else %}
        <p>Чтобы записаться, необходимо <a href="{% url 'login' %}">войти</a>.</p>
    {% endif %}
</div>
{% endblock %}
