{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="pages_first_line">
        <div class="pages_text">
            <h1 class="pages_title">Лекторий</h1>
            <p class="pages_par1">Лекторий при необходимости может увеличиваться в размерах за счет раздвижной стены и объединения с соседним помещением. На этой площадке предлагается разнообразие форматов для обучения и обмена знаниями. Многофункциональность площадки позволяет легко адаптировать пространство под нужды мероприятия, будь то интенсивный тренинг или творческий мастер-класс. Инновационное оборудование и комфортная обстановка обогащают опыт участников, создавая атмосферу вдохновения и продуктивности. Таким образом, мы формируем культурный и образовательный центр, где каждый сможет реализовать свои идеи, получить новые знания и установить ценные контакты.</p>
            <p class="pages_par2">Лекторий представляет собой уникальную платформу, где образование становится интерактивным, динамичным и доступным для каждого. В отличие от традиционных форматов, он адаптируется к потребностям слушателей, предлагая разнообразные форматы занятий: от мастер-классов и семинаров до публичных лекций и презентаций. Это позволяет участникам не только получать теоретические знания, но и активно внедрять их в практику, обмениваться идеями и интегрировать полученные навыки в реальную жизнь. Основной особенностью лектория является его мультидисциплинарный подход. Здесь пересекаются различные области науки, искусства, технологий и бизнеса, что создает уникальную среду для креативного мышления и инноваций.</p>
            <p class="pages_par3">Ключевые мероприятия и формы деятельности этой локации:</p>
            <ul class="pages_list">
                <li>музыкально-литературная гостиная,</li>
                <li>лекции, презентации,</li>
                <li>мастер-классы,</li>
                <li>творческие встречи, концерты,</li>
                <li>семинары, тренинги,</li>
                <li>совещания, собрания,</li>
                <li>квизы и другие интеллектуальные игры.</li>
            </ul>
        </div>
        <img src="{% static 'pages_img/lecktoriy/lec1.png' %}" alt="">
    </div>
    <div class="pages_second_line">
        <img class="pages_img_left_big" src="{% static 'pages_img/lecktoriy/lec2.png' %}" alt="">
        <img src="{% static 'pages_img/lecktoriy/lec3.png' %}" alt="">
    </div>
</div>


{% endblock %}